.container {
  width: 100%;
  height: 100%;

  .top {
    height: 120px;
    width: 100%;
    border: 1px solid #8080cc;
    background-color: #adc8e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;

    .search {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .content {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}