.container {
  width: 80%;
  height: 100%;
  border: 3px solid #008c8cff;
  background: linear-gradient(315deg,#42d392dd 25%,#647effdd);
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  p {
    margin: 0px;
    margin-bottom: 6px;
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &> button:last-child {
      margin-left: 10px;
    }
  }
}